<!-- logo -->
<!-- <p>קלאס<mat-icon>local_library</mat-icon></p> exitLesson()-->
<button mat-fab  (click)="isOn=false" class="exitButton"  *ngIf="isOn==true"
routerLink="/classroom"
>
    <mat-icon>close</mat-icon>
</button>

<h1 style="text-align: center;font: outline;color: white;
text-shadow: 3px 4px 2px #ffd740;margin-top: 5px;
font-size: 60px;">שיעור {{currentLesson}}</h1>


<!-- //loader -->

<app-user-camera *ngIf="isOn==true" ></app-user-camera>
  

<button mat-flat-button color="warn" *ngFor="let aUser of activeUsers" >
  <mat-icon>laptop_chromebook</mat-icon>{{aUser.NameUser}}</button>
  
  <!-- <mat-spinner></mat-spinner>href="#" {{ aUser.sessionId }} -->
  <br>
  <a class="play-btn"  (click)="setUserActiveInLesson()" *ngIf="lessIsActive == false"></a>
     <!-- <button mat-fab  mat-raised-button color="primary"    class="enter-button"
    >כניסה לשיעור<mat-icon>input</mat-icon></button>  -->
    <!-- <button mat-raised-button color="primary"disabled *ngIf="user.Type==1" (click)="startNewLesson(id) " style="float: right;" >שיעור חדש <mat-icon>input</mat-icon></button> -->
  
  <br><br>

  <!-- <mat-icon *ngIf="lessIsActive==true;" style="cursor: pointer;" (click)="chatClick=true">chat</mat-icon>*ngIf="chatClick==true" -->
  <app-chat  *ngIf="isOn==true"></app-chat>
<!--*ngIf="isOn==true"
<mat-list class="list" *ngFor="let activeuser of activeUsers">*ngIf="user.Type==0"
  
  <mat-list-item  >

    <p> <b >{{ activeuser.sessionId }}</b> 
   
    <video  class="vid" autoplay (load)="connectpeervideo(activeuserId)" ></video>
         
   </mat-list-item>

</mat-list>
--> 
<!-- <mat-spinner ></mat-spinner> -->

<!-- <video #myvideo class="vid" autoplay ></video> -->
<!-- <body scroll="no"> -->
<!--
<button  mat-flat-button dir="rtl"  
style="background-color: rgb(0, 139, 86);float:right;width: 36vw;height: 15vh;"
>מורה<mat-icon>laptop_chromebook</mat-icon></button>

for(useractive)

<br><br>
-->





<!-- <div  dir="rtl" *ngFor="let aUser of activeUsers" >{{aUser.UserName}}</div> -->
<!-- </body> -->


<!--   

  <button mat-button (click)="isOn==true"><mat-icon >chat</mat-icon></button>

  
<div id="chat">
  <header>chat</header>
    <mat-list class="list" *ngFor="let messege of messageArr">

      <mat-list-item  *ngIf="messege.id==thisSend" class="my-message item"  >
   
        <p> <b >{{ messege.name }}</b> <br> {{messege.message}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="messege.id!=thisSend" class="other-message item" >
      
        <p> <b >{{ messege.name }}</b> <br>{{messege.message}}</p>
      </mat-list-item>
    </mat-list>
    <textarea  placeholder="write your message"  [(ngModel)]="newMsg" class="message-input"></textarea>
    <button class="button" mat-raised-button  (click)="newMsg != ''?sendMessage():''" ><mat-icon class="iconSend">input</mat-icon></button>
  </div> -->

    <!-- <ion-avatar (click)="newMsg != ''?sendMessage():''"  slot="end" [class.full]="newMsg != ''"> 
      <ion-icon id="send" [class.emptyIcon]="newMsg == ''" [class.fullIcon]="newMsg != ''" name="send-sharp" ></ion-icon>
    </ion-avatar>  -->
    <!-- <input type="text"  [(ngModel)]="mymessage">
    <br>

    <button  mat-raised-button color="primary" (click)="sendMessage()" ><mat-icon>input</mat-icon>
    </button> -->
   
    <!-- <mat-list *ngFor="let messege of messageArr">

    <mat-list-item *ngIf="messege.id==thisSend" [innerHTML]="messagesStr" style="height: 7px; width: 10px; color: aqua;"></mat-list-item>
    <mat-list-item *ngIf="messege.id!=thisSend" [innerHTML]="messagesStr" style="height: 7px; width: 10px; color: black;"></mat-list-item>
  </mat-list> -->

  
  

<!-- <p  aria-placeholder="msg" style="height: 7px; width: 10px; color: aqua;"></p> -->



  <!-- add lesson only to teacher -->

<!-- <button mat-mini-fab color="warn" >
    <mat-icon >add</mat-icon>
  </button> 
  <br>

    <mat-form-field appearance="fill">
        <mat-label >add lesson</mat-label>
        <mat-select>
          <mat-option *ngFor="let less of lessonList" [value]="less.Name">
            {{less.Name}}
          </mat-option>
          <input type="text" placeholder="אחר">
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>בחר כיתה</mat-label>
        <mat-select  >
          <mat-option  [value]="class.Id" *ngFor="let class of classesList">כיתה {{class.Name}}</mat-option>
  
        </mat-select>
      </mat-form-field> -->
  
      <!-- <div id="container">
          
        <p><a>{{currentLesson}}</a>
        
        </p>
        
      </div> -->

