<!-- logo -->
<!-- <p>קלאס<mat-icon>local_library</mat-icon></p> exitLesson()-->
<!-- <div style="overflow-y:none" >‏ -->
  <!-- <button class="button type3"  >

  </button> -->
  <nav *ngIf="lessIsActive==false">
    <ul>
      <li (click)="documents = ! documents">
        <div >
                <img class="upload-folder" src="/assets/upload-folder.png" >

        </div>
      </li>
    </ul>
  </nav>






<h1 style="text-align: center;font: outline;color: white;
text-shadow: 3px 4px 2px #ffd740;margin-top: 5px;
font-size: 60px;">שיעור {{currentLesson}}</h1>

  <app-documents-attachment *ngIf="documents==true" ></app-documents-attachment>


<!-- //loader -->

<app-user-camera *ngIf="isOn==true" ></app-user-camera>
  

<!-- <button mat-flat-button color="warn" *ngFor="let aUser of activeUsers" >
  <mat-icon>laptop_chromebook</mat-icon>{{aUser.NameUser}}</button> -->
  
  <!-- <mat-spinner></mat-spinner>href="#" {{ aUser.sessionId }} -->
  <br>
  <a class="play-btn"  (click)="setUserActiveInLesson()" *ngIf="lessIsActive == false && documents==false"></a>
   
  
  <br><br>

  <!-- <mat-icon *ngIf="lessIsActive==true;" style="cursor: pointer;" (click)="chatClick=true">chat</mat-icon>*ngIf="chatClick==true" -->
  <app-chat  *ngIf="isOn==true"></app-chat>
