
a
{
    text-align:center;
    color: white;
    margin: 50px;
font-size: 30px
}
/*
button
{
    text-align:center;
    background-color: darkgray; 
    padding:15px;
    border-color: crimson; 
    border-width: 5px;
}*/
h1{
    color:crimson;
    font-size: 70px;
font-family: Bodoni MT Black;
top: 40px;
}
#back1{
    border-top-width: 40px;
    border-top-style: double;
    /* color: crimson; */    color: white;

}
#back2{
    border-top-width: 40px;
    border-top-style: double;
    /* color: blue; */
    color: white;

}
div
{
    text-align: center;
}

/*
input
{
    height: 30px;
    width: 220px;
    border-color: crimson;
    text-anchor: middle;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    
}*/

body{
    color: whitesmoke;
}
mat-form-field mat-label input{
    color: cornsilk;
    border-color: cornsilk;
    
}
.form{
border-color:cornsilk;
border-width: 12px;
background-color:transparent;
border-style: solid;
width: 450px;
text-align: center;
margin-left: 30%;
border-radius: 12px;
border: spacing 12px; ;

}
  
