
/* a
{
    text-align:center;
    color: white;
    margin: 50px;
    font-size: 30px
}

h1{
    color:crimson;
    font-size: 70px;
font-family: 'Assistant' MT Black;
top: 40px;
}

div
{
    text-align: center;
}

body{
    color: whitesmoke;
} */
 mat-label{
    color: cornsilk;
    border-color: cornsilk;
    text-align: center;
}
input{
}
 mat-form-field{
    text-align: center;
    border-color: white !important;
    border-width: 3px;
    color: cornsilk;
    border-color: cornsilk;
    text-align: center;
}
.material-icons{
    color:white !important;
}
.form{
border-color:cornsilk;
border-width: 12px;
background-color:transparent;
border-style: solid;
width: 450px;
text-align: center;
margin-left: 30%;
border-radius: 12px;
border: spacing 12px; ;
opacity:initial ;

}

  
 ::ng-deep mat-card{
    width: fit-content ;
    margin: auto ;
  }
 /* nav{
      margin: auto;
      text-align: center;
  }
   /////////     box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
*/
 
  /* ...................     transition: 0.2s all ease-in-out;
*/
 