
<!-- <div class="wrap-screen" *ngFor="let screen of participates">
<-- <app-view-user></app-view-user> 
<app-view-user></app-view-user>

</div>-->
    


<mat-sidenav-container>

    <mat-sidenav-content >
        <div [style.height.px]="innerHeight">
           <router-outlet></router-outlet>
           
        </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav   mode="side" opened  class="example-sidenav  side-nav-style">
       <!--<a mat-list-item [routerLink]="'/classroom'">בדיקה</a>
        <section style="width: 100px;"></section>--> 
        
         <app-lessonslist *ngIf="this.user.Type==0"></app-lessonslist>

         <app-teacher-lesson-list  *ngIf="this.user.Type==1"></app-teacher-lesson-list>   


     </mat-sidenav>
</mat-sidenav-container>