wrap-screen{
 display: inline-block;
}
app-lessonslist , app-teacher-lesson-list{

    float: right;
    display: block;
    border-width:10px ;
    margin: 20px;
    width: 250px;



}

app-lesson{
    background-color: green;
}
/* .view-class-container{
    height: 100%;
} */
body{
    /* scroll-behavior: unset; */
    margin: 0; max-height: 100%; overflow: hidden;
    
}

.sidnav-cont-mar{
    margin-left: 0!important; margin-right: 290px;
}
mat-sidenav{
    transform: none;
    visibility: visible;
    background: transparent;
    position: fixed;
}
::-webkit-scrollbar {
    display: none;
}
