
<mat-sidenav-container style="direction: rtl;background:transparent;">

    <mat-sidenav-content  class="sidnav-cont-mar" style="direction: ltr;">
        
      <div [style.height.px]="innerHeight" >
           <router-outlet></router-outlet>
        </div>
        
    </mat-sidenav-content>
    <mat-sidenav #sidenav   mode="side" opened  class="example-sidenav  side-nav-style">
       <!--<a mat-list-item [routerLink]="'/classroom'">בדיקה</a>
        <section style="width: 100px;"></section><mat-spinner></mat-spinner>style="overflow-y: hidden"
--> 
        
         <app-lessonslist *ngIf="this.user.Type==0" style="scrollbar-width: initial;"></app-lessonslist>

         <app-teacher-lesson-list  *ngIf="this.user.Type==1" ></app-teacher-lesson-list>   


     </mat-sidenav>
</mat-sidenav-container>
