<!-- <ul class="heroes">
  <li *ngFor="let les of lessons">
    <a routerLink="/classroom/lesson/{{les.Id}}">
      <span class="badge">{{les.id}}</span>
      <span class="herme">{{les.Name}}</span>

    </a>

    <button class="delete" title="delete hero">x</button>
  </li> -->

  <h1 class="userName">  שם משתמש: {{user.UserName}}</h1>

<div class="wrap_classes">


  <mat-accordion multi >
    <mat-expansion-panel hideToggle [expanded]="true" >
      <!-- <mat-icon>assignment_returned view_list move_to_inbox</mat-icon> -->
      <mat-expansion-panel-header class="head">
        <mat-panel-title class="head">כיתה {{UserNameClass}}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card *ngFor="let les of lessons" class="clName">
        <a routerLink="/classroom/lesson/{{les.Id}}/class/{{this.user.ClassId}}">
          שיעור {{les.Name}}
        </a>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>
