
a
{
    text-align:center;
    color: blue;
    margin: 50px;
font-size: 30px
}
button
{
    text-align:center;
    background-color: darkgray; 
    padding:15px;
}
p{
    color:crimson;
    font-size: 50px;
font-family: Bodoni MT Black;
}
div
{
    text-align: center;
}
.back{
    border-top-width: 60px;
     border-top-style: solid;
     
    color: crimson;
}