<h1> שם משתמש: {{user.UserName}}</h1>

<div class="wrap_classes">


<mat-accordion multi>
  <mat-expansion-panel *ngFor="let cl of classess">
    <mat-expansion-panel-header>
      <mat-panel-title>
       כיתה {{cl.Name}}
      </mat-panel-title>
      <!-- <mat-panel-description>
        לחץ כדי לבחור
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <mat-card *ngFor="let les of cl.Lessons" class="clName">
      <a routerLink="/classroom/lesson/{{les.Id}}/class/{{cl.Id}}" (click)="selectLess(cl,les)">
        שיעור {{les.Name}} 
      </a>
    </mat-card>
    <!-- <ul class="heroes">
      <li *ngFor="let les of cl.Lessons">
        <a routerLink="/classroom/lesson/{{les.Id}}">
          <span class="badge">{{les.id}}</span>
          <span class="herme">{{les.Name}}</span>
        </a>

        <button class="delete" title="delete hero">x</button>
      </li>
    </ul> -->
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>library_add </mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        הוספה
      </mat-panel-description>
   
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill" #chooseLesson class="add">
      <mat-label>בחר שיעור</mat-label >
      <mat-select (selectionChange)="selectedLesson($event)" >
        <mat-option *ngFor="let less of lessonList" [value]="less.Id" (click)="other=false">
          {{less.Name}}
        </mat-option>
        <mat-option [value]="newLesson"  (click)="other=true"  (selectionChange)="newLesson"> {{newLesson ? newLesson: "אחר"}}</mat-option>
        
      </mat-select>

    </mat-form-field>

         <mat-form-field appearance="fill"  *ngIf="other==true">
           
      <mat-label style="color: cornsilk;" >שיעור חדש</mat-label>
      <input matInput [(ngModel)]="newLesson"  type="text">
    </mat-form-field>
 

  <!-- <mat-form-field appearance="fill" *ngIf="">
    <mat-label>שיעור חדש</mat-label>
    <mat-select (selectionChange)="selectedLesson($event)">
      <mat-option [value]="newLesson">
        {{newLesson}}
      </mat-option>
      <mat-option>אחר</mat-option>
    </mat-select>
  </mat-form-field> -->

    <mat-form-field appearance="fill" class="add">
      <mat-label>בחר כיתה</mat-label>
      <mat-select (selectionChange)="selectedClass($event)">
        <mat-option [value]="class.Id" *ngFor="let class of classesList">כיתה {{class.Name}}</mat-option>

      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="addClassLesson()" *ngIf="lesson.lessonId && lesson.classId"> אישור </button>
  </mat-expansion-panel>


  
</mat-accordion>
</div>