/* element.style , div ,td {
    background-color: cadetblue;
    margin: 1vh;
    width: 15vw;
    height: 10vh;
    border-color: black;
    border-style: solid;
    text-align: center;
    margin-left: 15vw;
} */
body {
    background-color: lightgrey;
    float: right;
    width: 500px;
    height: 500px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: center;
  }

button{
    margin: 8px;

}