<br><br>
<div class="form">
<br>
    <!-- <p>הנך משתמש חדש במערכת , אנא הכנס את שמך</p> -->
    <br>

    <mat-form-field appearance="outline">
      <mat-label>הכנס את שמך</mat-label>
      <input matInput [(ngModel)]="user.UserName" style="text-align: end;"> 
    </mat-form-field>
  
    <br>

<div> 
  <mat-form-field appearance="outline" >
    <mat-label>הכנס סיסמא</mat-label>
    <input matInput [(ngModel)]="user.Password" minlength="4" maxlength="12" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>
  <br>
<!-- 
  <mat-form-field appearance="outline" >
    <mat-label>אשר סיסמא</mat-label>
    <input matInput [(ngModel)]="confirmPassword"  [formControl]="confirmPassword" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide"  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error >{{getErrorMessage_confirmPass() }}</mat-error>
  </mat-form-field> -->
   
     <br>

     <!-- <input matInput type="email"  placeholder="pat@example.com"  required >
     <a>הכנס כתובת מיל</a> <br><br><br>
     <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
     <mat-form-field appearance="outline">
      <mat-label>הכנס כתובת מיל</mat-label>
      <input matInput placeholder="anonymous@example.com" [formControl]="email" [(ngModel)]="user.Email"required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
<br>

<mat-form-field appearance="outline">
  <mat-label>סוג משתמש</mat-label>
  <mat-select [(ngModel)]="user.Type" >
    <mat-option value="0">  תלמיד </mat-option>        
    <mat-option value="1">  מורה  </mat-option> 
  </mat-select>
</mat-form-field>
<br>

    <!-- <a>Class</a><input type="text" [(ngModel)]="user.ClassId">  -->
    <mat-form-field appearance="outline" *ngIf="user.Type==0">
      <mat-label>בחר כיתה</mat-label>
      <mat-select  [(ngModel)]="user.ClassId">
        <!-- <mat-option value="כיתה ב"> ב </mat-option> -->
        <mat-option class="classesMatOption" [value]="class.Id" *ngFor="let class of classesList">כיתה {{class.Name}}</mat-option>

      </mat-select>
    </mat-form-field>
    
    <!-- <p>הכיתה בה בחרת היא: {{selected}}</p> [(value)]="selected"-->
    
  <!-- <select [(ngModel)]="user.ClassId">
    <option >א</option>
        <option  >ב</option> -->
    <!-- <option *ngFor="let class of classes"  >-->
    
      <!-- {{user.ClassId}}
    </option> -->
  <!-- </select><a>כיתה</a><br><br><br>-->
      <!-- <select  >
        <option value=0>תלמיד</option>
        <option value=1 >מורה</option>
      </select ><a>סוג משתמש</a><br><br><br> -->
    <!--
<div *ngIf="IsTeacher==1">
     <a >enter manager password</a><input type="password">
</div>-->
  <!-- <button  (click)="register()"><a>הרשמה</a></button> -->
  <br>
  <button  mat-fab style="margin: 45px;" routerLink="/register" routerLinkActive="active">
    <i class="material-icons" (click)="register()">account_circle</i>
  </button>
</div></div>
<br><br>



  

