/* a
{
    text-align:center;
    color: blue;
    margin: 50px;
font-size: 30px
}
.form{
    border-color:cornsilk;
    border-width: 12px;
    background-color:transparent;
    border-style: solid;
    width: 450px;
    text-align: center;
    margin-left: 30%;
    border-radius: 12px;
    border: spacing 12px; ;
    opacity:initial ;
}
button
{
    text-align:center;
    background-color: darkgray; 
    padding:15px;
    border-color: crimson; 
    border-width: 5px;
}

#back1{
    border-top-width: 40px;
    border-top-style: double;
    color: crimson;
}
#back2{
    border-top-width: 40px;
    border-top-style: double;
    color: blue;
}
div
{
    text-align: center;
}
input,select
{
    height: 30px;
    width: 220px;
    border-color: crimson;
    text-anchor: middle;
    color: blue;
    font-family: 'Assistant';
    font-size: 21px;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    /* width: 800px;
    border-style:solid; 

  } */
  mat-option {

    text-align: center;
     }
     mat-select{
         text-align: end;
     }
     input:focus { background: none; }
  /*
 
  .mat-form-field{
    background: red;
}
  
  nav{
    margin: auto;
    text-align: center;
}
a
{
    text-align:center;
    color: white;
    margin: 50px;
font-size: 30px
}*/
.form{
    border-color:cornsilk;
    border-width: 12px;
    background-color:transparent;
    border-style: solid;
    width: 450px;
    text-align: center;
    margin-left: 30%;
    border-radius: 12px;
    border: spacing 12px; ;
    opacity:initial ;
    
    }
  /*    ::ng-deep mat-form-field mat-label input{
        color: cornsilk !important;
        border-color: cornsilk !important;
        
    }
    body{
        color: whitesmoke !important;
    } */
    
    mat-label{
        color: cornsilk;
        border-color: cornsilk;
        text-align: center;
    }
    
     mat-form-field{
        text-align: center;
        border-color: white !important;
        border-width: 3px;
        color: cornsilk;
        border-color: cornsilk;
        text-align: center;
    }
    .material-icons{
        color:white !important;
    }